<i>Copyright (c) Microsoft Corporation. All rights reserved.</i>

<i>Licensed under the MIT License.</i>

# xDeepFM : the eXtreme Deep Factorization Machine 
This notebook will give you a quick example of how to train an xDeepFM model. 
xDeepFM \[1\] is a deep learning-based model aims at capturing both lower- and higher-order feature interactions for precise recommender systems. Thus it can learn feature interactions more effectively and manual feature engineering effort can be substantially reduced. To summarize, xDeepFM has the following key properties:
* It contains a component, named CIN, that learns feature interactions in an explicit fashion and in vector-wise level;
* It contains a traditional DNN component that learns feature interactions in an implicit fashion and in bit-wise level.
* The implementation makes this model quite configurable. We can enable different subsets of components by setting hyperparameters like `use_Linear_part`, `use_FM_part`, `use_CIN_part`, and `use_DNN_part`. For example, by enabling only the `use_Linear_part` and `use_FM_part`, we can get a classical FM model.

## Global Settings and Imports

In [23]:
import sys
sys.path.append("../../")
import papermill as pm
import tensorflow as tf
import pandas as pd

from reco_utils.recommender.deeprec.deeprec_utils import *
from reco_utils.recommender.deeprec.models.xDeepFM import *
from reco_utils.recommender.deeprec.IO.iterator import *
from reco_utils.dataset.pandas_df_utils import LibffmConverter
from reco_utils.dataset import movielens
from reco_utils.common.constants import (
    DEFAULT_USER_COL as USER_COL,
    DEFAULT_ITEM_COL as ITEM_COL,
    DEFAULT_RATING_COL as RATING_COL,
    DEFAULT_PREDICTION_COL as PREDICT_COL,
)
from reco_utils.common.constants import SEED
from reco_utils.dataset.python_splitters import python_random_split
print("System version: {}".format(sys.version))
print("Tensorflow version: {}".format(tf.__version__))

System version: 3.5.5 |Anaconda custom (64-bit)| (default, May 13 2018, 21:12:35)
[GCC 7.2.0]
Tensorflow version: 1.10.1

## 1. Prepare data

xDeepFM uses the FFM format as data input: <label> <field_id>:<feature_id>:<feature_value>

    
### 1.1 Load Movie rating and genres data
First, download MovieLens data. Movies in the data set are tagged as one or more genres where there are total 19 genres including 'unknown'. We load movie genres to use them as item features.

In [24]:
MOVIELENS_DATA_SIZE='100k'
RANDOM_SEED = SEED  # Set seed for deterministic result
# The genres of each movie are returned as '|' separated string, e.g. "Animation|Children's|Comedy".
data = movielens.load_pandas_df(
        size=MOVIELENS_DATA_SIZE,
        header=[USER_COL, ITEM_COL, RATING_COL],
        genres_col='Genres_string'  # load genres as a temporal column 'Genres_string'
    )
display(data.head())
data['userID'] = data.userID.astype(str)
data['itemID'] = data.itemID.astype(str)

100%|██████████| 4.81k/4.81k [00:00<00:00, 17.4kKB/s]

   userID  itemID  rating Genres_string
0     196     242     3.0        Comedy
1      63     242     3.0        Comedy
2     226     242     5.0        Comedy
3     154     242     3.0        Comedy
4     306     242     5.0        Comedy

### 1.2 Convert to libffm format. 
The output features are  <field_index>:<field_feature_index>:1 or <field_index>:<field_index>:<field_feature_value>, depending on the data type of the features in the original dataframe. Current libffm converter does not support multiple features in one field, so the followings cells are a workaround 

There are 3 fields in this dataset: userID, itemID and genres.
For fields of 'userID' and 'itemID', they are fields with single feature. But for the field 'genres', it has 19 features which indicates different types of genre.

In [25]:
import sklearn.preprocessing
genres_encoder = sklearn.preprocessing.MultiLabelBinarizer()
data['genres'] = genres_encoder.fit_transform(
        data['Genres_string'].apply(lambda s: s.split("|"))
    ).tolist()
print("Genres:", genres_encoder.classes_)
display(data.drop_duplicates(ITEM_COL)[[ITEM_COL, 'Genres_string', 'genres']].head())

Genres: ['Action' 'Adventure' 'Animation' "Children's" 'Comedy' 'Crime'
 'Documentary' 'Drama' 'Fantasy' 'Film-Noir' 'Horror' 'Musical' 'Mystery'
 'Romance' 'Sci-Fi' 'Thriller' 'War' 'Western' 'unknown']

,itemID,Genres_string,genres
0,242,Comedy,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
117,302,Crime|Film-Noir|Mystery|Thriller,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, ..."
414,377,Children's|Comedy,"[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
427,51,Drama|Romance|War|Western,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, ..."
508,346,Crime|Drama,"[0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."

In [26]:
#generate new column names for field 'genre'
data[['genre1','genre2','genre3','genre4','genre5','genre6','genre7',\
      'genre8','genre9','genre10','genre11','genre12','genre13','genre14',\
      'genre15','genre16','genre17','genre18','genre19']] \
=pd.DataFrame(data.genres.values.tolist(), index= data.index)

In [27]:
data=data.drop(["genres","Genres_string"],axis=1)

In [28]:
data.head()

,userID,itemID,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,genre10,genre11,genre12,genre13,genre14,genre15,genre16,genre17,genre18,genre19
0,196,242,3.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,63,242,3.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,226,242,5.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,154,242,3.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,306,242,5.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
## feed the data into libffm converter. 
converter = LibffmConverter().fit(data, col_rating=RATING_COL)
data_transformed = converter.transform(data)

In [30]:
##change to classification label
data_transformed.loc[data_transformed['rating'] <= 3, 'rating'] = 0
data_transformed.loc[data_transformed['rating'] > 3, 'rating'] = 1

In [31]:
data_transformed.head()

,rating,userID,itemID,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,genre10,genre11,genre12,genre13,genre14,genre15,genre16,genre17,genre18,genre19
0,0.0,1:1:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
1,0.0,1:2:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
2,1.0,1:3:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
3,0.0,1:4:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
4,1.0,1:5:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0

In [32]:
## this is a workaround for current libffmconverter
## keep field number for genre to 3 and reset genre index to 1:19
num = int(data_transformed['genre1'][0][2:-2])

genre_index=1
old_field_index=genre_index+2

for i in range(num,num+19):
    
    old_index=str(old_field_index)+':'+str(i)
    new_index='3:'+str(genre_index)
    
    coln='genre'+str(genre_index)
    data_transformed[coln]=data_transformed[coln].str.replace(old_index,new_index)
    
    
    genre_index=genre_index+1
    old_field_index=old_field_index+1

In [33]:
data_transformed.tail()

,rating,userID,itemID,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,genre10,genre11,genre12,genre13,genre14,genre15,genre16,genre17,genre18,genre19
99995,1.0,1:505:1,2:2621:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99996,0.0,1:89:1,2:2622:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99997,0.0,1:89:1,2:2623:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99998,0.0,1:89:1,2:2624:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99999,0.0,1:89:1,2:2625:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:1,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0

### Parameters

## Download data
xDeepFM uses the FFM format as data input: `<label> <field_id>:<feature_id>:<feature_value>`  
Each line represents an instance, `<label>` is a binary value with 1 meaning positive instance and 0 meaning negative instance. 
Features are divided into fields. For example, user's gender is a field, it contains three possible values, i.e. male, female and unknown. Occupation can be another field, which contains many more possible values than the gender field. Both field index and feature index are starting from 1. <br>
Now let's start with movielens dataset.

In [34]:
data_path = '../../tests/resources/deeprec/movielens'
yaml_file = os.path.join(data_path, r'network_xdeepFM.yaml')
output_file = os.path.join(data_path, r'output.txt')
train_file= os.path.join(data_path,'train.csv')
test_file=os.path.join(data_path,'test.csv')

In [35]:
train, test = python_random_split(
        data_transformed,
        ratio=0.75,
        seed=RANDOM_SEED,
    )

In [36]:
train.to_csv(train_file, sep=' ',header=False, index=False)
test.to_csv(test_file, sep=' ',header=False, index=False)

## Create hyper-parameters
prepare_hparams() will create a full set of hyper-parameters for model training, such as learning rate, feature number, and dropout ratio. We can put those parameters in a yaml file, or pass parameters as the function's parameters (which will overwrite yaml settings).

In [37]:
hparams = prepare_hparams(yaml_file) ##
print(hparams)

[('DNN_FIELD_NUM', None), ('FEATURE_COUNT', 22), ('FIELD_COUNT', 3), ('MODEL_DIR', None), ('PAIR_NUM', None), ('SUMMARIES_DIR', None), ('activation', ['relu', 'relu']), ('attention_activation', None), ('attention_dropout', 0.0), ('attention_layer_sizes', None), ('batch_size', 128), ('cross_activation', 'identity'), ('cross_l1', 0.0), ('cross_l2', 0.0), ('cross_layer_sizes', [100, 100, 50]), ('cross_layers', None), ('data_format', 'ffm'), ('dim', 10), ('doc_size', None), ('dropout', [0.0, 0.0]), ('dtype', 32), ('embed_l1', 0.0), ('embed_l2', 0.0), ('enable_BN', False), ('entityEmb_file', None), ('entity_dim', None), ('entity_embedding_method', None), ('entity_size', None), ('epochs', 10), ('fast_CIN_d', 0), ('filter_sizes', None), ('init_method', 'tnormal'), ('init_value', 0.01), ('is_clip_norm', 0), ('iterator_type', None), ('kg_file', None), ('kg_training_interval', 5), ('layer_l1', 0.0), ('layer_l2', 0.0), ('layer_sizes', [400, 400]), ('learning_rate', 0.001), ('load_model_name', None), ('load_saved_model', False), ('loss', 'square_loss'), ('lr_kg', 0.5), ('lr_rs', 1), ('max_grad_norm', 2), ('method', 'regression'), ('metrics', ['rmse', 'mae', 'rsquare', 'exp_var', 'auc', 'logloss']), ('model_type', 'xDeepFM'), ('mu', None), ('n_item', None), ('n_item_attr', None), ('n_user', None), ('n_user_attr', None), ('num_filters', None), ('optimizer', 'adam'), ('ranking_metrics', ['map_at_k', 'ndcg_at_k', 'precision_at_k', 'recall_at_k']), ('reg_kg', 0.0), ('save_epoch', 2), ('save_model', False), ('show_step', 20), ('top_K', 10), ('train_ratio', None), ('transform', None), ('use_CIN_part', True), ('use_DNN_part', False), ('use_FM_part', False), ('use_Linear_part', False), ('user_clicks', None), ('user_dropout', False), ('user_item_file', '../../tests/resources/deeprec/movielens/user_item.csv'), ('wordEmb_file', None), ('word_size', None), ('write_tfevents', False)]

## Create data loader
Designate a data iterator for the model. xDeepFM uses FFMTextIterator.

In [38]:
input_creator = FFMTextIterator

## Create model
When both hyper-parameters and data iterator are ready, we can create a model:

In [39]:
model = XDeepFMModel(hparams, input_creator)

## sometimes we don't want to train a model from scratch
## then we can load a pre-trained model like this: 
#model.load_model(r'your_model_path')

Add CIN part.

/anaconda/envs/py35/lib/python3.5/site-packages/tensorflow/python/ops/gradients_impl.py:108: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

### Train and fit model on validation data

In [ ]:
model.fit(train_file, test_file)

step 20 , total_loss: 0.7359, data_loss: 0.7359
step 40 , total_loss: 0.7060, data_loss: 0.7060
step 60 , total_loss: 0.7343, data_loss: 0.7343
step 80 , total_loss: 0.7110, data_loss: 0.7110
step 100 , total_loss: 0.6539, data_loss: 0.6539
step 120 , total_loss: 0.6569, data_loss: 0.6569
step 140 , total_loss: 0.6155, data_loss: 0.6155
step 160 , total_loss: 0.6448, data_loss: 0.6448
step 180 , total_loss: 0.6185, data_loss: 0.6185
step 200 , total_loss: 0.5997, data_loss: 0.5997
step 220 , total_loss: 0.6209, data_loss: 0.6209
step 240 , total_loss: 0.6007, data_loss: 0.6007
step 260 , total_loss: 0.5915, data_loss: 0.5915
step 280 , total_loss: 0.5860, data_loss: 0.5860
step 300 , total_loss: 0.5399, data_loss: 0.5399
step 320 , total_loss: 0.5666, data_loss: 0.5666
step 340 , total_loss: 0.5556, data_loss: 0.5556
step 360 , total_loss: 0.5446, data_loss: 0.5446
step 380 , total_loss: 0.5519, data_loss: 0.5519
step 400 , total_loss: 0.5372, data_loss: 0.5372
step 420 , total_loss: 0.5369, data_loss: 0.5369
step 440 , total_loss: 0.5384, data_loss: 0.5384
step 460 , total_loss: 0.5437, data_loss: 0.5437
step 480 , total_loss: 0.5211, data_loss: 0.5211
step 500 , total_loss: 0.5273, data_loss: 0.5273
step 520 , total_loss: 0.5094, data_loss: 0.5094
step 540 , total_loss: 0.5114, data_loss: 0.5114
step 560 , total_loss: 0.5071, data_loss: 0.5071
step 580 , total_loss: 0.5066, data_loss: 0.5066
at epoch 1 train info: auc:0.505, exp_var:0.0005624294281005859, logloss:0.7079, mae:0.50425565, rmse:0.50734603, rsquare:-0.042647870724046966 eval info: auc:0.5037, exp_var:-0.0007342100143432617, logloss:0.7069, mae:0.5038221, rmse:0.50685304, rsquare:-0.03648457457181742
at epoch 1 , train time: 13.7 eval time: 15.5
step 20 , total_loss: 0.5070, data_loss: 0.5070
step 40 , total_loss: 0.5017, data_loss: 0.5017
step 60 , total_loss: 0.5043, data_loss: 0.5043
step 80 , total_loss: 0.5039, data_loss: 0.5039
step 100 , total_loss: 0.5018, data_loss: 0.5018
step 120 , total_loss: 0.4989, data_loss: 0.4989
step 140 , total_loss: 0.4989, data_loss: 0.4989
step 160 , total_loss: 0.4999, data_loss: 0.4999
step 180 , total_loss: 0.5022, data_loss: 0.5022
step 200 , total_loss: 0.5002, data_loss: 0.5002
step 220 , total_loss: 0.4996, data_loss: 0.4996
step 240 , total_loss: 0.4934, data_loss: 0.4934
step 260 , total_loss: 0.4989, data_loss: 0.4989
step 280 , total_loss: 0.4968, data_loss: 0.4968
step 300 , total_loss: 0.5040, data_loss: 0.5040
step 320 , total_loss: 0.4976, data_loss: 0.4976
step 340 , total_loss: 0.4968, data_loss: 0.4968
step 360 , total_loss: 0.4988, data_loss: 0.4988
step 380 , total_loss: 0.4952, data_loss: 0.4952
step 400 , total_loss: 0.4976, data_loss: 0.4976
step 420 , total_loss: 0.4922, data_loss: 0.4922
step 440 , total_loss: 0.4925, data_loss: 0.4925
step 460 , total_loss: 0.4911, data_loss: 0.4911
step 480 , total_loss: 0.4963, data_loss: 0.4963
step 500 , total_loss: 0.4914, data_loss: 0.4914
step 520 , total_loss: 0.4981, data_loss: 0.4981
step 540 , total_loss: 0.4980, data_loss: 0.4980
step 560 , total_loss: 0.4932, data_loss: 0.4932
step 580 , total_loss: 0.4912, data_loss: 0.4912
at epoch 2 train info: auc:0.5089, exp_var:0.0034410953521728516, logloss:0.6851, mae:0.49237233, rmse:0.49598387, rsquare:0.003383531053283595 eval info: auc:0.5069, exp_var:0.0017660856246948242, logloss:0.6889, mae:0.4938089, rmse:0.4973932, rsquare:0.001650391500056747
at epoch 2 , train time: 13.7 eval time: 15.4
step 20 , total_loss: 0.4962, data_loss: 0.4962
step 40 , total_loss: 0.4962, data_loss: 0.4962
step 60 , total_loss: 0.4868, data_loss: 0.4868
step 80 , total_loss: 0.4924, data_loss: 0.4924
step 100 , total_loss: 0.5008, data_loss: 0.5008
step 120 , total_loss: 0.4961, data_loss: 0.4961
step 140 , total_loss: 0.5015, data_loss: 0.5015
step 160 , total_loss: 0.4948, data_loss: 0.4948
step 180 , total_loss: 0.5039, data_loss: 0.5039
step 200 , total_loss: 0.5014, data_loss: 0.5014
step 220 , total_loss: 0.4978, data_loss: 0.4978
step 240 , total_loss: 0.4898, data_loss: 0.4898
step 260 , total_loss: 0.4964, data_loss: 0.4964
step 280 , total_loss: 0.4952, data_loss: 0.4952
step 300 , total_loss: 0.5074, data_loss: 0.5074
step 320 , total_loss: 0.4969, data_loss: 0.4969
step 340 , total_loss: 0.4965, data_loss: 0.4965
step 360 , total_loss: 0.4988, data_loss: 0.4988
step 380 , total_loss: 0.4937, data_loss: 0.4937
step 400 , total_loss: 0.4974, data_loss: 0.4974
step 420 , total_loss: 0.4912, data_loss: 0.4912
step 440 , total_loss: 0.4906, data_loss: 0.4906
step 460 , total_loss: 0.4895, data_loss: 0.4895
step 480 , total_loss: 0.4956, data_loss: 0.4956
step 500 , total_loss: 0.4904, data_loss: 0.4904
step 520 , total_loss: 0.4978, data_loss: 0.4978
step 540 , total_loss: 0.4982, data_loss: 0.4982
step 560 , total_loss: 0.4932, data_loss: 0.4932
step 580 , total_loss: 0.4905, data_loss: 0.4905
at epoch 3 train info: auc:0.5093, exp_var:0.00395512580871582, logloss:0.6848, mae:0.49160546, rmse:0.49588305, rsquare:0.003951406792997547 eval info: auc:0.507, exp_var:0.0018075108528137207, logloss:0.6899, mae:0.493221, rmse:0.4974937, rsquare:0.0013949145843341615
at epoch 3 , train time: 13.7 eval time: 15.7
step 20 , total_loss: 0.4961, data_loss: 0.4961
step 40 , total_loss: 0.4961, data_loss: 0.4961
step 60 , total_loss: 0.4859, data_loss: 0.4859
step 80 , total_loss: 0.4920, data_loss: 0.4920
step 100 , total_loss: 0.5010, data_loss: 0.5010
step 120 , total_loss: 0.4962, data_loss: 0.4962
step 140 , total_loss: 0.5020, data_loss: 0.5020
step 160 , total_loss: 0.4949, data_loss: 0.4949
step 180 , total_loss: 0.5039, data_loss: 0.5039
step 200 , total_loss: 0.5012, data_loss: 0.5012
step 220 , total_loss: 0.4982, data_loss: 0.4982
step 240 , total_loss: 0.4898, data_loss: 0.4898
step 260 , total_loss: 0.4962, data_loss: 0.4962
step 280 , total_loss: 0.4952, data_loss: 0.4952
step 300 , total_loss: 0.5075, data_loss: 0.5075
step 320 , total_loss: 0.4968, data_loss: 0.4968
step 340 , total_loss: 0.4965, data_loss: 0.4965
step 360 , total_loss: 0.4988, data_loss: 0.4988
step 380 , total_loss: 0.4933, data_loss: 0.4933
step 400 , total_loss: 0.4973, data_loss: 0.4973
step 420 , total_loss: 0.4910, data_loss: 0.4910
step 440 , total_loss: 0.4905, data_loss: 0.4905
step 460 , total_loss: 0.4893, data_loss: 0.4893
step 480 , total_loss: 0.4957, data_loss: 0.4957
step 500 , total_loss: 0.4900, data_loss: 0.4900
step 520 , total_loss: 0.4978, data_loss: 0.4978
step 540 , total_loss: 0.4981, data_loss: 0.4981
step 560 , total_loss: 0.4931, data_loss: 0.4931
step 580 , total_loss: 0.4904, data_loss: 0.4904
at epoch 4 train info: auc:0.5094, exp_var:0.004199028015136719, logloss:0.6846, mae:0.49150115, rmse:0.49578223, rsquare:0.004194756332023486 eval info: auc:0.5073, exp_var:0.0018450617790222168, logloss:0.6908, mae:0.49316418, rmse:0.4974937, rsquare:0.0014245391188472123
at epoch 4 , train time: 13.5 eval time: 15.7
step 20 , total_loss: 0.4961, data_loss: 0.4961
step 40 , total_loss: 0.4960, data_loss: 0.4960
step 60 , total_loss: 0.4859, data_loss: 0.4859
step 80 , total_loss: 0.4920, data_loss: 0.4920
step 100 , total_loss: 0.5009, data_loss: 0.5009
step 120 , total_loss: 0.4963, data_loss: 0.4963
step 140 , total_loss: 0.5020, data_loss: 0.5020
step 160 , total_loss: 0.4949, data_loss: 0.4949
step 180 , total_loss: 0.5034, data_loss: 0.5034
step 200 , total_loss: 0.5011, data_loss: 0.5011
step 220 , total_loss: 0.4985, data_loss: 0.4985
step 240 , total_loss: 0.4900, data_loss: 0.4900
step 260 , total_loss: 0.4961, data_loss: 0.4961
step 280 , total_loss: 0.4952, data_loss: 0.4952
step 300 , total_loss: 0.5072, data_loss: 0.5072
step 320 , total_loss: 0.4964, data_loss: 0.4964
step 340 , total_loss: 0.4965, data_loss: 0.4965
step 360 , total_loss: 0.4987, data_loss: 0.4987
step 380 , total_loss: 0.4931, data_loss: 0.4931
step 400 , total_loss: 0.4975, data_loss: 0.4975
step 420 , total_loss: 0.4910, data_loss: 0.4910
step 440 , total_loss: 0.4903, data_loss: 0.4903
step 460 , total_loss: 0.4893, data_loss: 0.4893
step 480 , total_loss: 0.4958, data_loss: 0.4958
step 500 , total_loss: 0.4896, data_loss: 0.4896
step 520 , total_loss: 0.4978, data_loss: 0.4978

step 540 , total_loss: 0.4980, data_loss: 0.4980
step 560 , total_loss: 0.4930, data_loss: 0.4930
step 580 , total_loss: 0.4901, data_loss: 0.4901
at epoch 5 train info: auc:0.5096, exp_var:0.00443500280380249, logloss:0.6844, mae:0.4914151, rmse:0.49578223, rsquare:0.0044314562769761645 eval info: auc:0.5072, exp_var:0.0018025636672973633, logloss:0.6909, mae:0.49314696, rmse:0.4974937, rsquare:0.0013879297202703533
at epoch 5 , train time: 13.6 eval time: 15.8
step 20 , total_loss: 0.4961, data_loss: 0.4961
step 40 , total_loss: 0.4960, data_loss: 0.4960
step 60 , total_loss: 0.4856, data_loss: 0.4856
step 80 , total_loss: 0.4920, data_loss: 0.4920
step 100 , total_loss: 0.5009, data_loss: 0.5009
step 120 , total_loss: 0.4965, data_loss: 0.4965
step 140 , total_loss: 0.5020, data_loss: 0.5020
step 160 , total_loss: 0.4948, data_loss: 0.4948
step 180 , total_loss: 0.5030, data_loss: 0.5030
step 200 , total_loss: 0.5013, data_loss: 0.5013
step 220 , total_loss: 0.4986, data_loss: 0.4986
step 240 , total_loss: 0.4900, data_loss: 0.4900
step 260 , total_loss: 0.4961, data_loss: 0.4961
step 280 , total_loss: 0.4952, data_loss: 0.4952
step 300 , total_loss: 0.5069, data_loss: 0.5069
step 320 , total_loss: 0.4961, data_loss: 0.4961
step 340 , total_loss: 0.4965, data_loss: 0.4965
step 360 , total_loss: 0.4987, data_loss: 0.4987
step 380 , total_loss: 0.4929, data_loss: 0.4929
step 400 , total_loss: 0.4977, data_loss: 0.4977
step 420 , total_loss: 0.4909, data_loss: 0.4909
step 440 , total_loss: 0.4901, data_loss: 0.4901
step 460 , total_loss: 0.4892, data_loss: 0.4892
step 480 , total_loss: 0.4960, data_loss: 0.4960
step 500 , total_loss: 0.4895, data_loss: 0.4895
step 520 , total_loss: 0.4977, data_loss: 0.4977
step 540 , total_loss: 0.4980, data_loss: 0.4980
step 560 , total_loss: 0.4929, data_loss: 0.4929
step 580 , total_loss: 0.4900, data_loss: 0.4900
at epoch 6 train info: auc:0.5098, exp_var:0.00464940071105957, logloss:0.6843, mae:0.4913419, rmse:0.49568135, rsquare:0.0046470352894349976 eval info: auc:0.5074, exp_var:0.0016720294952392578, logloss:0.6912, mae:0.49316278, rmse:0.4974937, rsquare:0.0012711767261837092
at epoch 6 , train time: 13.7 eval time: 15.6
step 20 , total_loss: 0.4961, data_loss: 0.4961
step 40 , total_loss: 0.4960, data_loss: 0.4960
step 60 , total_loss: 0.4851, data_loss: 0.4851
step 80 , total_loss: 0.4920, data_loss: 0.4920
step 100 , total_loss: 0.5009, data_loss: 0.5009
step 120 , total_loss: 0.4965, data_loss: 0.4965
step 140 , total_loss: 0.5020, data_loss: 0.5020
step 160 , total_loss: 0.4945, data_loss: 0.4945
step 180 , total_loss: 0.5026, data_loss: 0.5026
step 200 , total_loss: 0.5017, data_loss: 0.5017
step 220 , total_loss: 0.4988, data_loss: 0.4988
step 240 , total_loss: 0.4900, data_loss: 0.4900
step 260 , total_loss: 0.4960, data_loss: 0.4960
step 280 , total_loss: 0.4952, data_loss: 0.4952
step 300 , total_loss: 0.5064, data_loss: 0.5064
step 320 , total_loss: 0.4958, data_loss: 0.4958
step 340 , total_loss: 0.4965, data_loss: 0.4965
step 360 , total_loss: 0.4987, data_loss: 0.4987
step 380 , total_loss: 0.4929, data_loss: 0.4929
step 400 , total_loss: 0.4979, data_loss: 0.4979
step 420 , total_loss: 0.4907, data_loss: 0.4907
step 440 , total_loss: 0.4899, data_loss: 0.4899
step 460 , total_loss: 0.4892, data_loss: 0.4892
step 480 , total_loss: 0.4962, data_loss: 0.4962
step 500 , total_loss: 0.4894, data_loss: 0.4894
step 520 , total_loss: 0.4975, data_loss: 0.4975
step 540 , total_loss: 0.4979, data_loss: 0.4979
step 560 , total_loss: 0.4928, data_loss: 0.4928
step 580 , total_loss: 0.4899, data_loss: 0.4899

### Evaluate model on test data

In [ ]:
res_syn = model.run_eval(test_file)
print(res_syn)
#pm.record("res_syn", res_syn)

### Evaluation of  top N recommendation

In [ ]:
res_syn = model.run_eval_topN(test_file,hparams)

## Reference
\[1\] Lian, J., Zhou, X., Zhang, F., Chen, Z., Xie, X., & Sun, G. (2018). xDeepFM: Combining Explicit and Implicit Feature Interactions for Recommender Systems.Proceedings of the 24th ACM SIGKDD International Conference on Knowledge Discovery \& Data Mining, KDD 2018, London, UK, August 19-23, 2018.<br>
\[2\] The Criteo datasets: http://labs.criteo.com/category/dataset/.

In [ ]:
data_path = '../../tests/resources/deeprec/movielens'
yaml_file = os.path.join(data_path, r'network_xdeepFM.yaml')
#train_file = os.path.join(data_path, r'ua.base.classification.final')
#train_file = os.path.join(data_path, r'ua.base.regression.final')
#valid_file = os.path.join(data_path, r'ua.test.regression.final')
#test_file = os.path.join(data_path, r'ua.test.regression.final')

####the following files are for classification
train_file = os.path.join(data_path, r'ua.base.classification.final')
valid_file = os.path.join(data_path, r'ua.test.classification.final')
#test_file = os.path.join(data_path, r'ua.test.classification.final')
test_file = os.path.join(data_path, r'ua.test.classification_topN.final')

#test_file = os.path.join(data_path, r'ua.test.classification_topN.final')
output_file = os.path.join(data_path, r'output.txt')

#if not os.path.exists(yaml_file):
#    download_deeprec_resources(r'https://recodatasets.blob.core.windows.net/deeprec/', data_path, 'xdeepfmresources.zip')