<i>Copyright (c) Microsoft Corporation. All rights reserved.</i>

<i>Licensed under the MIT License.</i>

# xDeepFM : the eXtreme Deep Factorization Machine 
This notebook will give you a quick example of how to train an xDeepFM model. 
xDeepFM \[1\] is a deep learning-based model aims at capturing both lower- and higher-order feature interactions for precise recommender systems. Thus it can learn feature interactions more effectively and manual feature engineering effort can be substantially reduced. To summarize, xDeepFM has the following key properties:
* It contains a component, named CIN, that learns feature interactions in an explicit fashion and in vector-wise level;
* It contains a traditional DNN component that learns feature interactions in an implicit fashion and in bit-wise level.
* The implementation makes this model quite configurable. We can enable different subsets of components by setting hyperparameters like `use_Linear_part`, `use_FM_part`, `use_CIN_part`, and `use_DNN_part`. For example, by enabling only the `use_Linear_part` and `use_FM_part`, we can get a classical FM model.

## Global Settings and Imports

In [1]:
import sys
sys.path.append("../../")
import papermill as pm
import tensorflow as tf
import pandas as pd

from reco_utils.recommender.deeprec.deeprec_utils import *
from reco_utils.recommender.deeprec.models.xDeepFM import *
from reco_utils.recommender.deeprec.IO.iterator import *
from reco_utils.dataset.pandas_df_utils import LibffmConverter
from reco_utils.dataset import movielens
from reco_utils.common.constants import (
    DEFAULT_USER_COL as USER_COL,
    DEFAULT_ITEM_COL as ITEM_COL,
    DEFAULT_RATING_COL as RATING_COL,
    DEFAULT_PREDICTION_COL as PREDICT_COL,
)
from reco_utils.common.constants import SEED
from reco_utils.dataset.python_splitters import python_random_split
print("System version: {}".format(sys.version))
print("Tensorflow version: {}".format(tf.__version__))

/anaconda/envs/py35/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

System version: 3.5.5 |Anaconda custom (64-bit)| (default, May 13 2018, 21:12:35)
[GCC 7.2.0]
Tensorflow version: 1.10.1

## 1. Prepare data

xDeepFM uses the FFM format as data input: <label> <field_id>:<feature_id>:<feature_value>

    
### 1.1 Load Movie rating and genres data
First, download MovieLens data. Movies in the data set are tagged as one or more genres where there are total 19 genres including 'unknown'. We load movie genres to use them as item features.

In [2]:
MOVIELENS_DATA_SIZE='100k'
RANDOM_SEED = SEED  # Set seed for deterministic result
# The genres of each movie are returned as '|' separated string, e.g. "Animation|Children's|Comedy".
data = movielens.load_pandas_df(
        size=MOVIELENS_DATA_SIZE,
        header=[USER_COL, ITEM_COL, RATING_COL],
        genres_col='Genres_string'  # load genres as a temporal column 'Genres_string'
    )
display(data.head())
data['userID'] = data.userID.astype(str)
data['itemID'] = data.itemID.astype(str)

4.93MB [00:00, 18.5MB/s]

   userID  itemID  rating Genres_string
0     196     242     3.0        Comedy
1      63     242     3.0        Comedy
2     226     242     5.0        Comedy
3     154     242     3.0        Comedy
4     306     242     5.0        Comedy

### 1.2 Convert to libffm format. 
The output features are  <field_index>:<field_feature_index>:1 or <field_index>:<field_index>:<field_feature_value>, depending on the data type of the features in the original dataframe. Current libffm converter does not support multiple features in one field, so the followings cells are a workaround 

There are 3 fields in this dataset: userID, itemID and genres.
For fields of 'userID' and 'itemID', they are fields with single feature. But for the field 'genres', it has 19 features which indicates different types of genre.

In [3]:
import sklearn.preprocessing
genres_encoder = sklearn.preprocessing.MultiLabelBinarizer()
data['genres'] = genres_encoder.fit_transform(
        data['Genres_string'].apply(lambda s: s.split("|"))
    ).tolist()
print("Genres:", genres_encoder.classes_)
display(data.drop_duplicates(ITEM_COL)[[ITEM_COL, 'Genres_string', 'genres']].head())

Genres: ['Action' 'Adventure' 'Animation' "Children's" 'Comedy' 'Crime'
 'Documentary' 'Drama' 'Fantasy' 'Film-Noir' 'Horror' 'Musical' 'Mystery'
 'Romance' 'Sci-Fi' 'Thriller' 'War' 'Western' 'unknown']

,itemID,Genres_string,genres
0,242,Comedy,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
117,302,Crime|Film-Noir|Mystery|Thriller,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, ..."
414,377,Children's|Comedy,"[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
427,51,Drama|Romance|War|Western,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, ..."
508,346,Crime|Drama,"[0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."

In [4]:
#generate new column names for field 'genre'
data[['genre1','genre2','genre3','genre4','genre5','genre6','genre7',\
      'genre8','genre9','genre10','genre11','genre12','genre13','genre14',\
      'genre15','genre16','genre17','genre18','genre19']] \
=pd.DataFrame(data.genres.values.tolist(), index= data.index)

In [5]:
data=data.drop(["genres","Genres_string"],axis=1)

In [6]:
data.head()

,userID,itemID,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,genre10,genre11,genre12,genre13,genre14,genre15,genre16,genre17,genre18,genre19
0,196,242,3.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,63,242,3.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,226,242,5.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,154,242,3.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,306,242,5.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
## feed the data into libffm converter. 
converter = LibffmConverter().fit(data, col_rating=RATING_COL)
data_transformed = converter.transform(data)

In [8]:
data_transformed.head()

,rating,userID,itemID,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,genre10,genre11,genre12,genre13,genre14,genre15,genre16,genre17,genre18,genre19
0,3.0,1:1:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
1,3.0,1:2:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
2,5.0,1:3:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
3,3.0,1:4:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0
4,5.0,1:5:1,2:944:1,3:2626:0,4:2627:0,5:2628:0,6:2629:0,7:2630:1,8:2631:0,9:2632:0,...,12:2635:0,13:2636:0,14:2637:0,15:2638:0,16:2639:0,17:2640:0,18:2641:0,19:2642:0,20:2643:0,21:2644:0

In [9]:
## this is a workaround for current libffmconverter
## keep field number for genre to 3 and reset genre index to 1:19
num = int(data_transformed['genre1'][0][2:-2])

genre_index=1
old_field_index=genre_index+2

for i in range(num,num+19):
    
    old_index=str(old_field_index)+':'+str(i)
    new_index='3:'+str(genre_index)
    
    coln='genre'+str(genre_index)
    data_transformed[coln]=data_transformed[coln].str.replace(old_index,new_index)
    
    
    genre_index=genre_index+1
    old_field_index=old_field_index+1

In [10]:
data_transformed.tail()

,rating,userID,itemID,genre1,genre2,genre3,genre4,genre5,genre6,genre7,...,genre10,genre11,genre12,genre13,genre14,genre15,genre16,genre17,genre18,genre19
99995,4.0,1:505:1,2:2621:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99996,3.0,1:89:1,2:2622:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99997,3.0,1:89:1,2:2623:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99998,3.0,1:89:1,2:2624:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:0,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0
99999,3.0,1:89:1,2:2625:1,3:1:0,3:2:0,3:3:0,3:4:0,3:5:0,3:6:0,3:7:1,...,3:10:0,3:11:0,3:12:0,3:13:0,3:14:0,3:15:0,3:16:0,3:17:0,3:18:0,3:19:0

### Parameters

## Download data
xDeepFM uses the FFM format as data input: `<label> <field_id>:<feature_id>:<feature_value>`  
Each line represents an instance, `<label>` is a binary value with 1 meaning positive instance and 0 meaning negative instance. 
Features are divided into fields. For example, user's gender is a field, it contains three possible values, i.e. male, female and unknown. Occupation can be another field, which contains many more possible values than the gender field. Both field index and feature index are starting from 1. <br>
Now let's start with movielens dataset.

In [11]:
data_path = '../../tests/resources/deeprec/movielens'
yaml_file = os.path.join(data_path, r'network_xdeepFM.yaml')
output_file = os.path.join(data_path, r'output.txt')
train_file= os.path.join(data_path,'train.csv')
test_file=os.path.join(data_path,'test.csv')

In [12]:
train, test = python_random_split(
        data_transformed,
        ratio=0.75,
        seed=RANDOM_SEED,
    )

In [13]:
train.to_csv(train_file, sep=' ',header=False, index=False)
test.to_csv(test_file, sep=' ',header=False, index=False)

## Create hyper-parameters
prepare_hparams() will create a full set of hyper-parameters for model training, such as learning rate, feature number, and dropout ratio. We can put those parameters in a yaml file, or pass parameters as the function's parameters (which will overwrite yaml settings).

In [14]:
hparams = prepare_hparams(yaml_file) ##
print(hparams)

[('DNN_FIELD_NUM', None), ('FEATURE_COUNT', 22), ('FIELD_COUNT', 3), ('MODEL_DIR', None), ('PAIR_NUM', None), ('SUMMARIES_DIR', None), ('activation', ['relu', 'relu']), ('attention_activation', None), ('attention_dropout', 0.0), ('attention_layer_sizes', None), ('batch_size', 128), ('cross_activation', 'identity'), ('cross_l1', 0.0), ('cross_l2', 0.0), ('cross_layer_sizes', [100, 100, 50]), ('cross_layers', None), ('data_format', 'ffm'), ('dim', 10), ('doc_size', None), ('dropout', [0.0, 0.0]), ('dtype', 32), ('embed_l1', 0.0), ('embed_l2', 0.0), ('enable_BN', False), ('entityEmb_file', None), ('entity_dim', None), ('entity_embedding_method', None), ('entity_size', None), ('epochs', 10), ('fast_CIN_d', 0), ('filter_sizes', None), ('init_method', 'tnormal'), ('init_value', 0.01), ('is_clip_norm', 0), ('iterator_type', None), ('kg_file', None), ('kg_training_interval', 5), ('layer_l1', 0.0), ('layer_l2', 0.0), ('layer_sizes', [400, 400]), ('learning_rate', 0.001), ('load_model_name', None), ('load_saved_model', False), ('loss', 'square_loss'), ('lr_kg', 0.5), ('lr_rs', 1), ('max_grad_norm', 2), ('method', 'regression'), ('metrics', ['rmse', 'mae', 'rsquare', 'exp_var']), ('model_type', 'xDeepFM'), ('mu', None), ('n_item', None), ('n_item_attr', None), ('n_user', None), ('n_user_attr', None), ('num_filters', None), ('optimizer', 'adam'), ('ranking_metrics', ['map_at_k', 'ndcg_at_k', 'precision_at_k', 'recall_at_k']), ('reg_kg', 0.0), ('save_epoch', 2), ('save_model', False), ('show_step', 20), ('top_K', 10), ('train_ratio', None), ('transform', None), ('use_CIN_part', True), ('use_DNN_part', False), ('use_FM_part', False), ('use_Linear_part', False), ('user_clicks', None), ('user_dropout', False), ('user_item_file', '../../tests/resources/deeprec/movielens/user_item.csv'), ('wordEmb_file', None), ('word_size', None), ('write_tfevents', False)]

## Create data loader
Designate a data iterator for the model. xDeepFM uses FFMTextIterator.

In [15]:
input_creator = FFMTextIterator

## Create model
When both hyper-parameters and data iterator are ready, we can create a model:

In [16]:
model = XDeepFMModel(hparams, input_creator)

## sometimes we don't want to train a model from scratch
## then we can load a pre-trained model like this: 
#model.load_model(r'your_model_path')

Add CIN part.

/anaconda/envs/py35/lib/python3.5/site-packages/tensorflow/python/ops/gradients_impl.py:108: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

### Train and fit model on validation data

In [17]:
model.fit(train_file, test_file)

step 20 , total_loss: 3.7089, data_loss: 3.7089
step 40 , total_loss: 3.6294, data_loss: 3.6294
step 60 , total_loss: 3.8295, data_loss: 3.8295
step 80 , total_loss: 3.6042, data_loss: 3.6042
step 100 , total_loss: 3.5788, data_loss: 3.5788
step 120 , total_loss: 3.5110, data_loss: 3.5110
step 140 , total_loss: 3.3969, data_loss: 3.3969
step 160 , total_loss: 3.5492, data_loss: 3.5492
step 180 , total_loss: 3.5309, data_loss: 3.5309
step 200 , total_loss: 3.4175, data_loss: 3.4175
step 220 , total_loss: 3.4632, data_loss: 3.4632
step 240 , total_loss: 3.4177, data_loss: 3.4177
step 260 , total_loss: 3.4410, data_loss: 3.4410
step 280 , total_loss: 3.4789, data_loss: 3.4789
step 300 , total_loss: 3.2412, data_loss: 3.2412
step 320 , total_loss: 3.3942, data_loss: 3.3942
step 340 , total_loss: 3.3369, data_loss: 3.3369
step 360 , total_loss: 3.2190, data_loss: 3.2190
step 380 , total_loss: 3.4219, data_loss: 3.4219
step 400 , total_loss: 3.2911, data_loss: 3.2911
step 420 , total_loss: 3.2981, data_loss: 3.2981
step 440 , total_loss: 3.2702, data_loss: 3.2702
step 460 , total_loss: 3.3770, data_loss: 3.3770
step 480 , total_loss: 3.1709, data_loss: 3.1709
step 500 , total_loss: 3.2495, data_loss: 3.2495
step 520 , total_loss: 3.0666, data_loss: 3.0666
step 540 , total_loss: 3.1836, data_loss: 3.1836
step 560 , total_loss: 3.1833, data_loss: 3.1833
step 580 , total_loss: 3.1884, data_loss: 3.1884
at epoch 1 train info: exp_var:-0.17458438873291016, mae:2.900178, rmse:3.1237478, rsquare:-6.721108736437676 eval info: exp_var:-0.1755540370941162, mae:2.8886726, rmse:3.114097, rsquare:-6.5938041399087775
at epoch 1 , train time: 14.1 eval time: 14.8
step 20 , total_loss: 3.1613, data_loss: 3.1613
step 40 , total_loss: 3.0447, data_loss: 3.0447
step 60 , total_loss: 3.2077, data_loss: 3.2077
step 80 , total_loss: 3.0559, data_loss: 3.0559
step 100 , total_loss: 3.0356, data_loss: 3.0356
step 120 , total_loss: 2.9545, data_loss: 2.9545
step 140 , total_loss: 2.8595, data_loss: 2.8595
step 160 , total_loss: 2.9944, data_loss: 2.9944
step 180 , total_loss: 2.9940, data_loss: 2.9940
step 200 , total_loss: 2.8831, data_loss: 2.8831
step 220 , total_loss: 2.9387, data_loss: 2.9387
step 240 , total_loss: 2.8825, data_loss: 2.8825
step 260 , total_loss: 2.9110, data_loss: 2.9110
step 280 , total_loss: 2.9372, data_loss: 2.9372
step 300 , total_loss: 2.7079, data_loss: 2.7079
step 320 , total_loss: 2.8700, data_loss: 2.8700
step 340 , total_loss: 2.8047, data_loss: 2.8047
step 360 , total_loss: 2.6818, data_loss: 2.6818
step 380 , total_loss: 2.8930, data_loss: 2.8930
step 400 , total_loss: 2.7509, data_loss: 2.7509
step 420 , total_loss: 2.7602, data_loss: 2.7602
step 440 , total_loss: 2.7443, data_loss: 2.7443
step 460 , total_loss: 2.8430, data_loss: 2.8430
step 480 , total_loss: 2.6389, data_loss: 2.6389
step 500 , total_loss: 2.7183, data_loss: 2.7183
step 520 , total_loss: 2.5456, data_loss: 2.5456
step 540 , total_loss: 2.6492, data_loss: 2.6492
step 560 , total_loss: 2.6631, data_loss: 2.6631
step 580 , total_loss: 2.6653, data_loss: 2.6653
at epoch 2 train info: exp_var:-0.12826073169708252, mae:2.357989, rmse:2.6022105, rsquare:-4.358101158840903 eval info: exp_var:-0.12947773933410645, mae:2.3470173, rmse:2.593588, rsquare:-4.267401945517926
at epoch 2 , train time: 13.1 eval time: 15.4
step 20 , total_loss: 2.6338, data_loss: 2.6338
step 40 , total_loss: 2.5284, data_loss: 2.5284
step 60 , total_loss: 2.6906, data_loss: 2.6906
step 80 , total_loss: 2.5411, data_loss: 2.5411
step 100 , total_loss: 2.5193, data_loss: 2.5193
step 120 , total_loss: 2.4385, data_loss: 2.4385
step 140 , total_loss: 2.3474, data_loss: 2.3474
step 160 , total_loss: 2.4797, data_loss: 2.4797
step 180 , total_loss: 2.4842, data_loss: 2.4842
step 200 , total_loss: 2.3826, data_loss: 2.3826
step 220 , total_loss: 2.4173, data_loss: 2.4173
step 240 , total_loss: 2.3708, data_loss: 2.3708
step 260 , total_loss: 2.4046, data_loss: 2.4046
step 280 , total_loss: 2.4201, data_loss: 2.4201
step 300 , total_loss: 2.2030, data_loss: 2.2030
step 320 , total_loss: 2.3761, data_loss: 2.3761
step 340 , total_loss: 2.3019, data_loss: 2.3019
step 360 , total_loss: 2.1730, data_loss: 2.1730
step 380 , total_loss: 2.3948, data_loss: 2.3948
step 400 , total_loss: 2.2359, data_loss: 2.2359
step 420 , total_loss: 2.2497, data_loss: 2.2497
step 440 , total_loss: 2.2479, data_loss: 2.2479
step 460 , total_loss: 2.3377, data_loss: 2.3377
step 480 , total_loss: 2.1348, data_loss: 2.1348
step 500 , total_loss: 2.2153, data_loss: 2.2153
step 520 , total_loss: 2.0593, data_loss: 2.0593
step 540 , total_loss: 2.1465, data_loss: 2.1465
step 560 , total_loss: 2.1781, data_loss: 2.1781
step 580 , total_loss: 2.1725, data_loss: 2.1725
at epoch 3 train info: exp_var:-0.07711684703826904, mae:1.8762925, rmse:2.1149232, rsquare:-2.539313742233633 eval info: exp_var:-0.07912349700927734, mae:1.866724, rmse:2.1078663, rsquare:-2.4792153850238607
at epoch 3 , train time: 13.3 eval time: 15.3
step 20 , total_loss: 2.1418, data_loss: 2.1418
step 40 , total_loss: 2.0509, data_loss: 2.0509
step 60 , total_loss: 2.2061, data_loss: 2.2061
step 80 , total_loss: 2.0678, data_loss: 2.0678
step 100 , total_loss: 2.0402, data_loss: 2.0402
step 120 , total_loss: 1.9609, data_loss: 1.9609
step 140 , total_loss: 1.8802, data_loss: 1.8802
step 160 , total_loss: 2.0036, data_loss: 2.0036
step 180 , total_loss: 2.0129, data_loss: 2.0129
step 200 , total_loss: 1.9277, data_loss: 1.9277
step 220 , total_loss: 1.9411, data_loss: 1.9411
step 240 , total_loss: 1.9021, data_loss: 1.9021
step 260 , total_loss: 1.9442, data_loss: 1.9442
step 280 , total_loss: 1.9477, data_loss: 1.9477
step 300 , total_loss: 1.7496, data_loss: 1.7496
step 320 , total_loss: 1.9310, data_loss: 1.9310
step 340 , total_loss: 1.8516, data_loss: 1.8516
step 360 , total_loss: 1.7163, data_loss: 1.7163
step 380 , total_loss: 1.9496, data_loss: 1.9496
step 400 , total_loss: 1.7676, data_loss: 1.7676
step 420 , total_loss: 1.7865, data_loss: 1.7865
step 440 , total_loss: 1.8049, data_loss: 1.8049
step 460 , total_loss: 1.8841, data_loss: 1.8841
step 480 , total_loss: 1.6823, data_loss: 1.6823
step 500 , total_loss: 1.7634, data_loss: 1.7634
step 520 , total_loss: 1.6372, data_loss: 1.6372
step 540 , total_loss: 1.7011, data_loss: 1.7011
step 560 , total_loss: 1.7545, data_loss: 1.7545
step 580 , total_loss: 1.7365, data_loss: 1.7365
at epoch 4 train info: exp_var:-0.038622498512268066, mae:1.4730381, rmse:1.6896449, rsquare:-1.2590471515453507 eval info: exp_var:-0.04123425483703613, mae:1.4658825, rmse:1.6850519, rsquare:-1.2234306562514687
at epoch 4 , train time: 13.3 eval time: 15.0
step 20 , total_loss: 1.7136, data_loss: 1.7136
step 40 , total_loss: 1.6426, data_loss: 1.6426
step 60 , total_loss: 1.7779, data_loss: 1.7779
step 80 , total_loss: 1.6680, data_loss: 1.6680
step 100 , total_loss: 1.6296, data_loss: 1.6296
step 120 , total_loss: 1.5527, data_loss: 1.5527
step 140 , total_loss: 1.4923, data_loss: 1.4923
step 160 , total_loss: 1.5969, data_loss: 1.5969
step 180 , total_loss: 1.6101, data_loss: 1.6101
step 200 , total_loss: 1.5534, data_loss: 1.5534
step 220 , total_loss: 1.5435, data_loss: 1.5435
step 240 , total_loss: 1.5112, data_loss: 1.5112
step 260 , total_loss: 1.5654, data_loss: 1.5654
step 280 , total_loss: 1.5553, data_loss: 1.5553
step 300 , total_loss: 1.3901, data_loss: 1.3901
step 320 , total_loss: 1.5693, data_loss: 1.5693
step 340 , total_loss: 1.4934, data_loss: 1.4934
step 360 , total_loss: 1.3545, data_loss: 1.3545
step 380 , total_loss: 1.5953, data_loss: 1.5953
step 400 , total_loss: 1.3849, data_loss: 1.3849
step 420 , total_loss: 1.4092, data_loss: 1.4092
step 440 , total_loss: 1.4555, data_loss: 1.4555
step 460 , total_loss: 1.5209, data_loss: 1.5209
step 480 , total_loss: 1.3236, data_loss: 1.3236
step 500 , total_loss: 1.4025, data_loss: 1.4025
step 520 , total_loss: 1.3262, data_loss: 1.3262
step 540 , total_loss: 1.3569, data_loss: 1.3569
step 560 , total_loss: 1.4348, data_loss: 1.4348
step 580 , total_loss: 1.4005, data_loss: 1.4005
at epoch 5 train info: exp_var:-0.011698007583618164, mae:1.166059, rmse:1.3705838, rsquare:-0.48641608689214033 eval info: exp_var:-0.01480245590209961, mae:1.1620718, rmse:1.369489, rsquare:-0.46861294145072163
at epoch 5 , train time: 13.4 eval time: 15.0

step 20 , total_loss: 1.3941, data_loss: 1.3941
step 40 , total_loss: 1.3499, data_loss: 1.3499
step 60 , total_loss: 1.4432, data_loss: 1.4432
step 80 , total_loss: 1.3876, data_loss: 1.3876
step 100 , total_loss: 1.3355, data_loss: 1.3355
step 120 , total_loss: 1.2619, data_loss: 1.2619
step 140 , total_loss: 1.2344, data_loss: 1.2344
step 160 , total_loss: 1.3057, data_loss: 1.3057
step 180 , total_loss: 1.3193, data_loss: 1.3193
step 200 , total_loss: 1.3051, data_loss: 1.3051
step 220 , total_loss: 1.2705, data_loss: 1.2705
step 240 , total_loss: 1.2467, data_loss: 1.2467
step 260 , total_loss: 1.3139, data_loss: 1.3139
step 280 , total_loss: 1.2904, data_loss: 1.2904
step 300 , total_loss: 1.1762, data_loss: 1.1762
step 320 , total_loss: 1.3303, data_loss: 1.3303
step 340 , total_loss: 1.2731, data_loss: 1.2731
step 360 , total_loss: 1.1386, data_loss: 1.1386
step 380 , total_loss: 1.3730, data_loss: 1.3730
step 400 , total_loss: 1.1379, data_loss: 1.1379
step 420 , total_loss: 1.1648, data_loss: 1.1648
step 440 , total_loss: 1.2426, data_loss: 1.2426
step 460 , total_loss: 1.2906, data_loss: 1.2906
step 480 , total_loss: 1.1061, data_loss: 1.1061
step 500 , total_loss: 1.1773, data_loss: 1.1773
step 520 , total_loss: 1.1653, data_loss: 1.1653
step 540 , total_loss: 1.1571, data_loss: 1.1571
step 560 , total_loss: 1.2544, data_loss: 1.2544
step 580 , total_loss: 1.2026, data_loss: 1.2026
at epoch 6 train info: exp_var:0.0005578398704528809, mae:0.9855023, rmse:1.1944455, rsquare:-0.12894906457543343 eval info: exp_var:-0.002660393714904785, mae:0.98536015, rmse:1.1973304, rsquare:-0.12256318661885146
at epoch 6 , train time: 13.3 eval time: 15.5
step 20 , total_loss: 1.2189, data_loss: 1.2189
step 40 , total_loss: 1.2027, data_loss: 1.2027
step 60 , total_loss: 1.2383, data_loss: 1.2383
step 80 , total_loss: 1.2512, data_loss: 1.2512
step 100 , total_loss: 1.1862, data_loss: 1.1862
step 120 , total_loss: 1.1173, data_loss: 1.1173
step 140 , total_loss: 1.1263, data_loss: 1.1263
step 160 , total_loss: 1.1544, data_loss: 1.1544
step 180 , total_loss: 1.1682, data_loss: 1.1682
step 200 , total_loss: 1.1948, data_loss: 1.1948
step 220 , total_loss: 1.1411, data_loss: 1.1411
step 240 , total_loss: 1.1240, data_loss: 1.1240
step 260 , total_loss: 1.2006, data_loss: 1.2006
step 280 , total_loss: 1.1669, data_loss: 1.1669
step 300 , total_loss: 1.1048, data_loss: 1.1048
step 320 , total_loss: 1.2215, data_loss: 1.2215
step 340 , total_loss: 1.1877, data_loss: 1.1877
step 360 , total_loss: 1.0643, data_loss: 1.0643
step 380 , total_loss: 1.2786, data_loss: 1.2786
step 400 , total_loss: 1.0319, data_loss: 1.0319
step 420 , total_loss: 1.0566, data_loss: 1.0566
step 440 , total_loss: 1.1571, data_loss: 1.1571
step 460 , total_loss: 1.1893, data_loss: 1.1893
step 480 , total_loss: 1.0224, data_loss: 1.0224
step 500 , total_loss: 1.0818, data_loss: 1.0818
step 520 , total_loss: 1.1227, data_loss: 1.1227
step 540 , total_loss: 1.0838, data_loss: 1.0838
step 560 , total_loss: 1.1893, data_loss: 1.1893
step 580 , total_loss: 1.1235, data_loss: 1.1235
at epoch 7 train info: exp_var:0.004230797290802002, mae:0.9581098, rmse:1.1340194, rsquare:-0.017560600389711523 eval info: exp_var:0.0005990862846374512, mae:0.962509, rmse:1.14, rsquare:-0.017677352474470664
at epoch 7 , train time: 13.4 eval time: 15.1
step 20 , total_loss: 1.1585, data_loss: 1.1585
step 40 , total_loss: 1.1613, data_loss: 1.1613
step 60 , total_loss: 1.1504, data_loss: 1.1504
step 80 , total_loss: 1.2143, data_loss: 1.2143
step 100 , total_loss: 1.1371, data_loss: 1.1371
step 120 , total_loss: 1.0757, data_loss: 1.0757
step 140 , total_loss: 1.1107, data_loss: 1.1107
step 160 , total_loss: 1.1050, data_loss: 1.1050
step 180 , total_loss: 1.1170, data_loss: 1.1170
step 200 , total_loss: 1.1698, data_loss: 1.1698
step 220 , total_loss: 1.1054, data_loss: 1.1054
step 240 , total_loss: 1.0889, data_loss: 1.0889
step 260 , total_loss: 1.1703, data_loss: 1.1703
step 280 , total_loss: 1.1311, data_loss: 1.1311
step 300 , total_loss: 1.1024, data_loss: 1.1024
step 320 , total_loss: 1.1880, data_loss: 1.1880
step 340 , total_loss: 1.1718, data_loss: 1.1718
step 360 , total_loss: 1.0574, data_loss: 1.0574
step 380 , total_loss: 1.2533, data_loss: 1.2533
step 400 , total_loss: 1.0047, data_loss: 1.0047
step 420 , total_loss: 1.0258, data_loss: 1.0258
step 440 , total_loss: 1.1348, data_loss: 1.1348
step 460 , total_loss: 1.1589, data_loss: 1.1589
step 480 , total_loss: 1.0043, data_loss: 1.0043
step 500 , total_loss: 1.0551, data_loss: 1.0551
step 520 , total_loss: 1.1234, data_loss: 1.1234
step 540 , total_loss: 1.0683, data_loss: 1.0683
step 560 , total_loss: 1.1756, data_loss: 1.1756
step 580 , total_loss: 1.1030, data_loss: 1.1030
at epoch 8 train info: exp_var:0.005316197872161865, mae:0.9445987, rmse:1.1222299, rsquare:0.0034378850379346293 eval info: exp_var:0.0013664960861206055, mae:0.95126593, rmse:1.1298672, rsquare:0.0003740121811917074
at epoch 8 , train time: 13.4 eval time: 15.4
step 20 , total_loss: 1.1463, data_loss: 1.1463
step 40 , total_loss: 1.1569, data_loss: 1.1569
step 60 , total_loss: 1.1232, data_loss: 1.1232
step 80 , total_loss: 1.2111, data_loss: 1.2111
step 100 , total_loss: 1.1250, data_loss: 1.1250
step 120 , total_loss: 1.0708, data_loss: 1.0708
step 140 , total_loss: 1.1170, data_loss: 1.1170
step 160 , total_loss: 1.0947, data_loss: 1.0947
step 180 , total_loss: 1.1044, data_loss: 1.1044
step 200 , total_loss: 1.1691, data_loss: 1.1691
step 220 , total_loss: 1.0998, data_loss: 1.0998
step 240 , total_loss: 1.0828, data_loss: 1.0828
step 260 , total_loss: 1.1658, data_loss: 1.1658
step 280 , total_loss: 1.1244, data_loss: 1.1244
step 300 , total_loss: 1.1101, data_loss: 1.1101
step 320 , total_loss: 1.1791, data_loss: 1.1791
step 340 , total_loss: 1.1722, data_loss: 1.1722
step 360 , total_loss: 1.0616, data_loss: 1.0616
step 380 , total_loss: 1.2487, data_loss: 1.2487
step 400 , total_loss: 1.0002, data_loss: 1.0002
step 420 , total_loss: 1.0195, data_loss: 1.0195
step 440 , total_loss: 1.1297, data_loss: 1.1297
step 460 , total_loss: 1.1519, data_loss: 1.1519
step 480 , total_loss: 1.0021, data_loss: 1.0021
step 500 , total_loss: 1.0497, data_loss: 1.0497
step 520 , total_loss: 1.1276, data_loss: 1.1276
step 540 , total_loss: 1.0665, data_loss: 1.0665
step 560 , total_loss: 1.1742, data_loss: 1.1742
step 580 , total_loss: 1.0994, data_loss: 1.0994
at epoch 9 train info: exp_var:0.005731642246246338, mae:0.93973523, rmse:1.1209817, rsquare:0.005688964677539765 eval info: exp_var:0.0016826987266540527, mae:0.9472242, rmse:1.1291146, rsquare:0.0016569967276028885
at epoch 9 , train time: 13.4 eval time: 15.1
step 20 , total_loss: 1.1449, data_loss: 1.1449
step 40 , total_loss: 1.1576, data_loss: 1.1576
step 60 , total_loss: 1.1157, data_loss: 1.1157
step 80 , total_loss: 1.2121, data_loss: 1.2121
step 100 , total_loss: 1.1222, data_loss: 1.1222
step 120 , total_loss: 1.0716, data_loss: 1.0716
step 140 , total_loss: 1.1209, data_loss: 1.1209
step 160 , total_loss: 1.0926, data_loss: 1.0926
step 180 , total_loss: 1.1012, data_loss: 1.1012
step 200 , total_loss: 1.1698, data_loss: 1.1698
step 220 , total_loss: 1.0990, data_loss: 1.0990
step 240 , total_loss: 1.0823, data_loss: 1.0823
step 260 , total_loss: 1.1654, data_loss: 1.1654
step 280 , total_loss: 1.1234, data_loss: 1.1234
step 300 , total_loss: 1.1133, data_loss: 1.1133
step 320 , total_loss: 1.1762, data_loss: 1.1762
step 340 , total_loss: 1.1730, data_loss: 1.1730
step 360 , total_loss: 1.0635, data_loss: 1.0635
step 380 , total_loss: 1.2480, data_loss: 1.2480
step 400 , total_loss: 0.9997, data_loss: 0.9997
step 420 , total_loss: 1.0186, data_loss: 1.0186
step 440 , total_loss: 1.1282, data_loss: 1.1282
step 460 , total_loss: 1.1506, data_loss: 1.1506
step 480 , total_loss: 1.0020, data_loss: 1.0020
step 500 , total_loss: 1.0488, data_loss: 1.0488
step 520 , total_loss: 1.1290, data_loss: 1.1290
step 540 , total_loss: 1.0664, data_loss: 1.0664
step 560 , total_loss: 1.1744, data_loss: 1.1744
step 580 , total_loss: 1.0994, data_loss: 1.0994
at epoch 10 train info: exp_var:0.005963444709777832, mae:0.93850905, rmse:1.120848, rsquare:0.005959090361243202 eval info: exp_var:0.0019034743309020996, mae:0.94622046, rmse:1.1290704, rsquare:0.0017165149202872376
at epoch 10 , train time: 13.4 eval time: 15.1

### Evaluate model on test data

In [18]:
res_syn = model.run_eval(test_file)
print(res_syn)
#pm.record("res_syn", res_syn)

{'rmse': 1.1290704, 'exp_var': 0.0019034743309020996, 'rsquare': 0.0017165149202872376, 'mae': 0.94622046}

## Reference
\[1\] Lian, J., Zhou, X., Zhang, F., Chen, Z., Xie, X., & Sun, G. (2018). xDeepFM: Combining Explicit and Implicit Feature Interactions for Recommender Systems.Proceedings of the 24th ACM SIGKDD International Conference on Knowledge Discovery \& Data Mining, KDD 2018, London, UK, August 19-23, 2018.<br>
\[2\] The Criteo datasets: http://labs.criteo.com/category/dataset/.